.response-all-container {
    margin-bottom: 1rem;

    opacity: 0.5;
    border: solid 2px; 
    color: rgba(203, 135, 39, 0.827);;
}

.response-container {
    margin-bottom: 1rem;

    border: solid 2px; 
    color: #CB8827;
}

.response-title {
    font-size: 20pt;
    text-transform: uppercase;
}

.products-lines-container {
    margin-left: 0rem !important;
    margin-right: 0rem !important;

    border-right: solid 1px
}

.product-line-container {
    padding: 1rem !important;
    border-right: solid 1px #CB8827;
    border-left: solid 1px #CB8827;
}

.product-line-title {
    font-size: 15pt;
    text-transform: uppercase;
    background-color: #CB8827; 
    color: #231F20;

    margin-top:0.5rem
}

.product {
    height: 8rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    border-bottom: 1px #CB8827 solid;
}

.product.selected {
    border-right: solid 1px;
    border-top: solid 1px;
    border-left: solid 1px;
}

/* m et + */
@media only screen and (min-width: 992px) {
    .product {
        height: 10rem;
    }
}

.product-img {
    max-width: 15em;
}

.heating-container {
    padding: 0.5rem !important;
}

.heating-span-text {
    font-size: 8pt;
    padding: 0rem !important;
}

.heating-text {
    padding: 0rem !important;
    font-size: 7pt;
    color: rgba(203, 135, 39, 0.827);;
}

.porcentage {
    margin-right: 0.5rem;
    margin-left: 0rem !important;
    padding-left: 0rem !important;
    text-align: center;
}

.item-download-button {
    padding: 0rem !important;

    cursor: pointer;
    width: 10%;
}

.dontsee {
    opacity: 0.3;
}

/* s et + */
@media only screen and (min-width: 0px) {
    .item-download-button {
        margin-top: 0rem;
        width: 8%;
    }

    .product-img {
        max-width: 15em;
    }
}

/* m - et + */
@media only screen and (min-width: 773px) {
    .product-img {
        max-width: 8em;
    }
}

/* m et + */
@media only screen and (min-width: 992px) {
    .item-download-button {
        margin-top: 0rem;
        width: 6%;
    }

    .product-img {
        max-width: 8em;
    }
}

/* l */
@media only screen and (min-width: 1200px) {
    .item-download-button {
        width: 6%;
    }
}